<template>
  <PersonList :peopleData="peopleData" />
</template>

<script>
import PersonList from "../components/PersonList";

export default {
  components: { PersonList },
  props: ["peopleData"],
};
</script>

<style></style>
