<template>
  <div
    v-if="personData"
    class="flex flex-col md:m-auto md:mt-20 md:w-5/6 m-6 divide-y divide-gray-700 h-screen"
  >
    <div class="flex flex-row  justify-between items-center">
      <h1 class="my-2 text-3xl font-black">
        {{ personData.fields["Name"] }}
      </h1>
      <p class="text-gray-500 text-sm font-bold">
        {{ personData.fields["Role"] }}
      </p>

      <button
        @click="() => storeRow({ name: 'myNameTest2', id: personData.id })"
        class="border border-black rounded-3xl p-2 font-bold bg-green-300 md:mr-20"
      >
        Send request
      </button>
    </div>
    <div class="flex md:flex-row flex-col">
      <div class="flex md:flex-row flex-col my-12">
        <img
          :src="personData.fields['Profile image'][0]['url']"
          :alt="personData.fields['Name']"
          class="md:my-0 mb-12 md:w-60 md:max-h-80 shadow-lg rounded-md object-cover"
          draggable="false"
        />
        <div class="flex flex-col items-start gap-y-8 md:pl-12 pl-0">
          <p class="quote font-black lg:w-2/5 text-left text-lg">
            {{ personData.fields["Quote"] }}
          </p>
          <p class="text-left text-sm">
            {{ personData.fields["Bio"] }}
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  props: ["storeRow"],
  data() {
    return {
      personData: null,
    };
  },
  created() {
    this.storeRows(this.$route.params.id);
  },
  methods: {
    storeRows(personId) {
      axios
        .get(
          `https://api.airtable.com/v0/app7cLoZ4xMOrQvKR/People/${personId}?api_key=keyEC9F0usYdVoWzg`
        )
        .then(({ data }) => (this.personData = data));
    },
  },
};
</script>

<style>
.quote::before {
  position: relative;
  right: 5px;
  content: '"';
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
  font-size: 2.5rem;
}

.quote::after {
  position: absolute;
  content: '"';
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
  font-size: 2.5rem;
  transform: rotate(180deg) translateX(-20px);
}
</style>
