<template>
  <div class="md:mx-40 my-16 mx-8 divide-y divide-gray-700">
    <div class="flex justify-between">
      <h1 class="text-left text-3xl font-black">
        Meet our friends
      </h1>
      <img src="../assets/Small-G.svg" alt="logo-img" />
    </div>
    <div v-if="peopleData" class="flex flex-wrap justify-between">
      <PersonCard
        v-for="person in peopleData"
        :key="person.id"
        :personData="person"
        :friendly="IsFriendly(person)"
        class="mx-0.5 my-10"
      />
    </div>
    <div v-else>Loading...</div>
  </div>
</template>

<script>
import PersonCard from "./PersonCard";

export default {
  components: { PersonCard },
  props: ["peopleData"],
  methods: {
    IsFriendly(person) {
      return person.fields["Name"].length <= 13;
    },
  },
};
</script>

<style>
body {
  background: linear-gradient(269.97deg, #f6f4ef -0.74%, #e0dbd0 99.98%);
}
</style>
