<template>
  <div class="flex max-w-sm">
    <div class="w-1/2 shadow-lg relative">
      <img
        class="rounded-md h-80 object-cover"
        :src="personData.fields['Profile image'][0]['url']"
        :alt="personData.fields['Name']"
        draggable="false"
      />
      <img
        v-if="friendly"
        src="../assets/Yes.svg"
        alt="no-icon"
        class="absolute top-0 p-2"
      />
      <img
        v-if="!friendly"
        src="../assets/No.svg"
        alt="no-icon"
        class="absolute top-0 p-2"
      />
    </div>
    <div class="relative pl-3 text-left flex flex-col w-1/2 gap-3">
      <router-link v-if="friendly" :to="personData['id']">
        <h3 class="text-2xl font-black">
          {{ personData.fields["Name"] }}
        </h3>
      </router-link>
      <h3 v-else class="text-2xl font-black">
        {{ personData.fields["Name"] }}
      </h3>
      <h4 class="text-gray-500 text-sm font-bold">
        {{ personData.fields["Role"] }}
      </h4>
      <p class="text-left text-sm">
        {{ personData.fields["Quote"] }}
      </p>

      <div class="absolute bottom-0 flex gap-2">
        <div>
          <img src="../assets/Linkedin.svg" alt="linkedin-icon" />
        </div>
        <div>
          <img src="../assets/Twitter.svg" alt="twitter-icon" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ["personData", "friendly"],
};
</script>

<style></style>
