<template>
  <div
    class="lg:mt-20 bg-big-g bg-no-repeat bg-contain lg:bg-right-bottom bg-top"
  >
    <router-view :peopleData="peopleData" :storeRow="storeRow" />
  </div>
</template>

<script>
import axios from "axios";
import "./index.css";

export default {
  name: "App",
  data() {
    return {
      api_token: "keyEC9F0usYdVoWzg",
      peopleData: null,
    };
  },
  created() {
    this.getLists();
  },
  methods: {
    getLists() {
      axios
        .get(this.getApiURL("lists"))
        .then(({ data }) => (this.peopleData = data.records));
    },
    storeRow(data) {
      const config = {
        headers: {
          Authorization: `Bearer ${this.api_token}`,
          "Content-Type": "application/json",
        },
      };
      const bodyParameters = {
        records: [
          {
            fields: {
              From: data.name,
              To: [data.id],
            },
          },
        ],
      };

      axios
        .post(
          `https://api.airtable.com/v0/app7cLoZ4xMOrQvKR/Friend%20request?api_key=${this.api_token}`,
          bodyParameters,
          config
        )
        .then((respose) => console.log("Success call:", respose));
    },
    getApiURL(model) {
      switch (model) {
        case "lists":
          return (
            "https://api.airtable.com/v0/app7cLoZ4xMOrQvKR/People?api_key=" +
            this.api_token
          );
        case "friendRequest":
          return "https://api.airtable.com/v0/app7cLoZ4xMOrQvKR/Friend%20request";
        default:
          return "";
      }
    },
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}
</style>
